<div class="container">
    <div class="row">
        <h1>{{title}}</h1>
        <hr>
        <div class="mb-3">
            <label for="" class="form-label">Tipo de empresa</label>
            <input type="tipo_empresa" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Nome da empresa*</label>
            <input type="nome_empresa" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">CNPJ da empresa*</label>
            <input type="cnpj" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">CEP</label>
            <input type="cep" class="form-control" id="" placeholder="31365-440">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Endereço</label>
            <input type="endereco" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Bairro</label>
            <input type="bairro" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Estado</label>
            <input type="estado" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Cidade</label>
            <input type="cidade" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Complemento</label>
            <input type="complemento" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Celular*</label>
            <input type="celular" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Nome do administrador*</label>
            <input type="nome_administrador" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">CPF</label>
            <input type="cpf" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">E-mail*</label>
            <input type="email" class="form-control" id="">
        </div>
        <button type="button" class="btn btn-secondary">Cancelar</button>
        <button type="button" class="btn btn-primary">Salvar</button>	
    </div>
</div>

