<div class="container" style="background-color: white;">
    <div class="row" style="height: 600px; text-align: center">
        <div class="col-6 align-self-center" >
            <h4>Olá, {{titular}}. Seja bem-vindo</h4>
            <p>
                É necessário configurar a empresa matriz para
                visualizar todas as informações do sistema.
            </p>
            <button type="button"  (click)="cadastrar()" class="btn btn-primary">INICIAR CONFIGURAÇÃO</button>
        </div>
        <div class="col-6 align-self-center">
            <img  class="img-fluid" src="assets/img/ft2.png">
        </div>
    </div>
</div>
